<%= form_with(model: orderproduct, local: true) do |form| %>
  <% if orderproduct.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(orderproduct.errors.count, "error") %> prohibited this orderproduct from being saved:</h2>

      <ul>
        <% orderproduct.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.fields_for :order do |order_fields| %>

        <div class="field">
          <%= order_fields.label :orderno %>
          <%= order_fields.number_field :orderno %>
        </div>

      <div class="field">
        <%= order_fields.label :trackingno %>
        <%= order_fields.number_field :trackingno %>
      </div>

      <div class="field">
        <%= order_fields.label :paymenttype %>
        <%= order_fields.text_field :paymenttype %>
      </div>

      <div class="field">
        <%= order_fields.label :tamount %>
        <%= order_fields.text_field :tamount %>
      </div>

      <div class="field">
        <%= order_fields.label :orderdate %>
        <%= order_fields.datetime_select :orderdate %>
      </div>

      <div class="field">
        <%= order_fields.label :user_id %>
        <%= order_fields.text_field :user_id %>
      </div>
  <%end%> 
  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id %>
  </div>

  <div class="field">
    <%= form.label :order_id %>
    <%= form.text_field :order_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
