<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @orderproduct.quantity %>
</p>

<p>
  <strong>Product:</strong>
  <%= @orderproduct.product_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @orderproduct.order_id %>
</p>

<%= link_to 'Edit', edit_orderproduct_path(@orderproduct) %> |
<%= link_to 'Back', orderproducts_path %>
