<p id="notice"><%= notice %></p>

<center><h1>Users</h1><center>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Password </th>
      <% if logged_in? && current_user.admin? %>
      <th>Admin</th>
      <% end %>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= user.password_digest %></td>
        <% if logged_in? && current_user.admin? %>
        <td><%= user.admin %></td>
        <% end %> 
        <td><%= link_to 'Show', user %></td>
        <% if logged_in? && current_user.admin? %>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      
        </tr>
    <% end %>
  </tbody>
</table>

<br> 
<% if logged_in? && current_user.admin? %>
  <%= link_to 'New User', signup_path %>
<%end%>