<p id="notice"><%= notice %></p>

<p>
  <strong>Typeofuser:</strong>
  <%= @role.typeofuser %>
</p>

<p>
  <strong>User:</strong>
  <%= @role.user_id %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
